nav{
    background-color:#003366;
    position:sticky;
    top:0;
    padding:15px;
}


nav{
  display: flex; 
  justify-content:space-between;
   align-items :center;
   padding:20px 40px;
   background-color: #ffffff;
}

.logo{

    background-image: url("img/generation_colombia_logo.jpg");
    
    background-position: center;
}


.menu{
display: flex; 
list-style: none

 gap 25px;
}

.menu a{
    text-decoration:none;
    color:#2F3A45;
    font-weight:600;
}

button{
    background:#2D6EA3;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:8px;
}

    
