@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
.fondo{
    background-image: 
    linear-gradient(
            rgba(255, 255, 255, 0.5),  /* 0.5 = 50% de transparencia */
            rgba(255, 255, 255, 0.5)
        ),
        url("img/ChatGPT\ Image\ 11\ jun\ 2026\,\ 11_49_52\ a.m.png");
    
    min-height: 100vh;
}

/* Encabezado contacto */
.nav-tabs {
    display: flex;
    justify-content: center;
    
}
.nav-tabs .nav-link {
    color: #4991B8;
    
}

/* formulario de contacto */
.contact_form{	
	width: 460px; 
  height: auto;
  margin: 80px auto;
	border-radius: 10px;  
	padding-top: 30px;
	padding-bottom: 20px;  
  background-color: #ffffff9f; 
  padding-left: 30px; 
}   


input{
	background-color: #ffffff; 
	width: 408px; 
	height: 40px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px;  
	border-color: #000000; 
	margin-top: 10px;  
	padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
	width: 405px; 
	height: 150px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #000000; 
	margin-top: 10px;  
	padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
	float: center; 	
}


button{
	height: 45px; 
	padding-left: 5px;
	padding-right: 5px; 	
	margin-bottom: 20px; 
	margin-top: 10px; 	
	text-transform: uppercase;
	background-color: #4991B8; 
	border-color: #4991B8; 
	border-style: solid; 
	border-radius: 10px;	
	width: 420px;   
  cursor: pointer;
}
button p{
	color: #fff; 
}
span{
	color: #da0808; 
}
.aviso{
	font-size: 13px;  
	color: #0e0e0e;  
}
h3{
	font-size: 16px; 
	padding-bottom: 30px;
	color: #0e0e0e;   
}
p{
	font-size: 14px; 
	color: #0e0e0e; 
}

::-webkit-input-placeholder {
 color: #a8a8a8;
}
::-webkit-textarea-placeholder {
 color: #a8a8a8;
}

.formulario input:focus{
	outline:0;
	border: 1px solid #4991B8;
}

.formulario textarea:focus{
	outline:0;
	border: 1px solid #4991B8;
/* info contacto y redes */
#profile{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.info-contacto{	
	width: 460px; 
    height: auto;
    margin: 80px auto;
	border-radius: 10px;  
	padding-top: 30px;
	padding-bottom: 20px;  
    background-color: #ffffff9f; 
    padding-left: 30px; 
} 